.tabs {
  float: left;
}
.tabs .content {
  float: right;
}
.tabs ul {
  list-style-type: none;
  padding: 0px;
}
.tabs ul li.selected {
  background-color: #e5ffb6;
}
.pane {
  display: none;
}
.pane.active {
  display: initial;
}
